# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store
*.swp
vearch.iml
.idea/
.vscode/
__pycache__/

# Test binary, build with `go test -c`
*.test
config/config.toml
test/grpc_client.go
test/.pytest_cache/
test/sift*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
engine/build/
build/bin/
build/lib/
build/run.sh
cloud/env/app/
cloud/config.toml

#skip some test file
plugin/model/yolov3.weights
plugin/src/log/
build/gamma_build/
cloud/compile/bin/
cloud/compile/lib/

#skip python sdk
sdk/python/build
sdk/python/dist
sdk/python/vearch_cluster.egg-info

#skip engine
engine/third_party/faiss-1.7.1
engine/sdk/python/demos/files/
engine/sdk/python/demos/logs/
