[submodule "python"]
	path = python
	url = https://github.com/vearch/vearch-python
[submodule "plugin"]
	path = plugin
	url = https://github.com/vearch/python-algorithm-plugin
[submodule "engine"]
	path = engine
	url = https://github.com/vearch/gamma
